<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guilds</title>
    <link rel="stylesheet" href="/resources/style.css" />
    <link rel="icon" type="image/jpg" href="/resources/icons/icon.png" />
    <style>
      p {
        color: white;
      }
    </style>
  </head>

  <body>
    <%- include('navbar', {});%>
    <table style="width: 80%">
      <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Invite</th>
      </tr>
      <% if (guilds.length > 0) { %>
      <h2><%= user.name %></h2>
      <% guilds.forEach(function(guild){ %> <%- include('guild', {guild}); %> <%
      }); %> <% } else {%>
      <tr>
        <td></td>
        <td>No servers yet :( sad</td>
        <td></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
