<tr>
  <td style="width: 100px">
    <img
      src="<%= guild.icon %>"
      alt="<%= guild.name %>"
      style="height: 100px"
    />
  </td>
  <td><%= guild.name %></td>
  <td>
    <a href="<%= guild.link %>" target="_blank">Join</a>
  </td>
</tr>
