<head>
  <link rel="stylesheet" href="/resources/navbar.css" />
</head>

<body>
  <ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a href="/commands">Commands</a></li>
    <li class="right"><a href="/invite">Invite</a></li>
  </ul>
</body>
